.git
.gradle
**/.DS_Store
**/build/

!build/
!build/libs/
!build/libs/*.jar

!batch/build/
!batch/build/libs/
!batch/build/libs/batch.jar
!batch/build/playwright-cli/
!batch/build/playwright-cli/*.jar
